html,body {
  font-family: 'Lato', sans-serif;
  background-color: #ebebe9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line {
  border-bottom: 1px solid #4c4d77;
  padding-bottom: 100px;
  margin-bottom: 40px
}